body{
    background-color: rgb(206, 122, 26);
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 500px;
    border-radius: 10px;
    padding: 25px;
}

.Calendar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#calendar-title {
    cursor: pointer;
}

.days-of-week {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.day-of-week{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
    border-radius: 50%;
}

.days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    margin-bottom: 8px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.day:hover {
    background-color: lightgray;
    border-radius: 50%;
}

.day.active{
    background-color: gray;
    color:white;
}

.day.empty {
    background-color: white;
    cursor: default;  
}

.Calendar-buttons{
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.Calendar-buttons:hover{
    background-color: lightgray;
    border-radius: 50%;
}

.pre-button, .next-button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.Calendar-buttons{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
