html{
    font-family: 'S-CoreDream-3Light';
    transform: rotate(0.04deg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgb(206,122,26);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 30px;
}
div{
    margin-bottom: 19px;
}
h2{
    margin-bottom: 10px;
    font-style: bold;
}
.Email{
    margin-top: 30px;
}
input{
    padding: 11px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    width: 320px;
    margin-top: 7px;
}
.loginBT{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 7px;
}
.Button{
    border: none;
    width: 250px;
    height: 45px;
    font-size: 16px;
    background-color: rgb(206,122,26);
    color: white;
    cursor: pointer;
}
